body {
    background-color: #DFDFDF;;
}

#game-board {
    width: 600px;
    margin: auto;
    padding: 1em;
    background-color: white;
}

#score, #answer {
    font-size: 1.5em;
    margin: 1.25em 0;
}

#value, #question {
    font-size: 1.25em;
    margin: 1.25em 0;
}

#category-title, #invalid-count {
    font-size: 1em;
    margin: 1.25em 0;
}

.is-hidden{
    display: none;
}
@media only screen and (min-width: 900px) {
    .game-board {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 2px;
      justify-content: space-evenly;
    }
}
@media only screen and (min-width: 577px) and (max-width: 899px) {
    .game-board {
      display: flex;
      width: 50%;
      height: 50%;
      padding: 2px;
      flex: 1 1 0%;
      justify-content: space-evenly;
    }
}
